<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="es.academia.AcademiaApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="es.academia.Perspective"
            id="AcademiaRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="es.academia.vistas.VistaAlumnos"
            id="es.academia.vistas.vistaAlumnos"
            name="Lista de alumnos">
      </view>
      <view
            class="es.academia.vistas.VistaProfesores"
            id="es.academia.vistas.VistaProfesores"
            name="Lista de profesores"
            restorable="true">
      </view>
      <view
            class="es.academia.vistas.VistaInformes"
            id="es.academia.vistas.VistaInformes"
            name="Informe">
      </view>
      <view
            class="es.academia.vistas.VistaCursos"
            id="es.academia.vistas.vistaCursos"
            name="Lista de cursos"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="AcademiaRCP.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="AcademiaRCP.category"
            id="AcademiaRCP.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="AcademiaRCP.category"
            id="AcademiaRCP.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AcademiaRCP.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="AcademiaRCP.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="AcademiaRCP.application"
            name="Academia Product">
         <property
               name="aboutText"
               value="Gestión de Academia">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Academia Product">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="AcademiaRCP.configAcademia"
            class="es.academia.propiedades.AulasPreferences"
            id="AcademiaRCP.AulasPreferences"
            name="Configurar aulas">
      </page>
      <page
            class="es.academia.propiedades.ConfigAcademiaPreferences"
            id="AcademiaRCP.configAcademia"
            name="Configurar datos de academia">
      </page>
      <page
            category="AcademiaRCP.configAcademia"
            class="es.academia.propiedades.MailPreferences"
            id="AcademiaRCP.MailPreferences"
            name="Preferencias de correo">
      </page>
      <page
            category="AcademiaRCP.configAcademia"
            class="es.academia.propiedades.SeriesPreferences"
            id="AcademiaRCP.SeriesPreferences"
            name="Recibos y facturas">
      </page>
   </extension>

</plugin>
